.home-wrap header {
  width: 135px;
  background: #fff;
  padding: 30px 0; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.home-wrap .logo {
  max-width: 120px;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  align-self: center;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.home-wrap .site-nav ul {
  list-style: none;
  margin: 30px 0;
  padding: 0 20px 0 0;
  text-align: right; }
  .home-wrap .site-nav ul li {
    margin-bottom: 10px; }
    .home-wrap .site-nav ul li:last-child {
      margin-bottom: 0; }

.home-wrap .email-link {
  display: block;
  text-align: right;
  padding-right: 20px; }

.home-wrap .mobile-nav-toggle {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  cursor: pointer; }
  .home-wrap .mobile-nav-toggle span,
  .home-wrap .mobile-nav-toggle span:before,
  .home-wrap .mobile-nav-toggle span:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #333;
    position: relative;
    transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav-toggle span:before {
    top: 15px; }
  .home-wrap .mobile-nav-toggle span:after {
    bottom: 17px; }
  .home-wrap .mobile-nav-toggle.is-open span {
    background: transparent; }
  .home-wrap .mobile-nav-toggle.is-open span:before,
  .home-wrap .mobile-nav-toggle.is-open span:after {
    transform-origin: center;
    transform: rotate(45deg);
    top: 0; }
  .home-wrap .mobile-nav-toggle.is-open span:after {
    transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }

@media (max-width: 768px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      flex-direction: row;
      align-items: center; }
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none; }
    .home-wrap header .logo {
      height: 50px;
      width: 50px;
      margin-left: 20px; }
    .home-wrap header .mobile-nav-toggle {
      display: flex; }
  .home-wrap .mobile-nav.is-open {
    display: block;
    transform: translateY(0%); } }

.about {
  background-color: #C00017;
  color: #fff; }
  @media (max-width: 768px) {
    .about .personal-photo {
      height: 150px; } }

.portfolio {
  background-color: #30232a;
  color: #fff; }
  .portfolio ul a {
    color: #fff; }

.repos {
  background-color: #ceffd8; }
  .repos li {
    margin-bottom: 1em; }
    .repos li a {
      border: 1px solid;
      margin: 0 5em;
      border-radius: 6px; }
  .repos .col-one-side ul li {
    border: none; }

.medium {
  background: url(../images/medium.png);
  background-size: cover;
  height: 100%;
  display: block; }

.temp-yt {
  background: url(../images/youtube.png);
  background-size: cover;
  height: 100%;
  display: block; }

.temp-cover {
  background: url(../images/twitter.png);
  background-size: cover;
  height: 100%;
  display: block; }

.contact {
  background-color: black; }

.contact-link {
  color: rgba(255, 255, 255, 0.5);
  padding: 1.5em; }
  .contact-link i {
    padding-right: 0.5em; }

.contact-link:hover, .contact-link:focus {
  color: #fff; }

@media (max-width: 768px) {
  .contact-link {
    display: block; } }

.home-wrap {
  display: flex;
  min-height: 100vh; }

.home-sections {
  display: flex;
  flex: 1;
  background-color: lightyellow;
  flex-direction: column;
  color: #333; }
  .home-sections p {
    font-size: 1.2em;
    line-height: 1.6; }
  .home-sections .btn-wide {
    display: block;
    padding: 15px 0;
    text-transform: uppercase; }
  .home-sections .btn-cta {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    margin: 0 2em;
    border-radius: 6px; }
  .home-sections .yt-video {
    max-width: 100%; }
  .home-sections .wrapper {
    display: flex;
    flex-direction: row; }
  .home-sections .flex-center {
    justify-content: center; }
  .home-sections .flex-space-around {
    justify-content: space-around; }
  .home-sections .order-first {
    order: -1; }
  .home-sections section {
    padding: 50px 0; }

.col-1-2 {
  max-width: 300px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.col-1 {
  max-width: 620px;
  margin: 0 10px;
  color: darkgrey; }
  .col-1 .contact-header {
    margin-top: 0; }

.col-one-side {
  width: 50%;
  align-self: center; }
  .col-one-side ul {
    list-style: none;
    text-align: center;
    padding-left: 0; }
    .col-one-side ul li {
      border-bottom: 1px dashed #fff; }
      .col-one-side ul li:last-child {
        border-bottom: 0 none; }
  .col-one-side .thumbnail {
    background: gold;
    height: 300px;
    width: auto; }

.col-520 {
  width: 520px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .col-520 .thumbnail {
    background: gold;
    height: 300px;
    width: auto; }

.col-social {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-self: center; }

.personal-photo {
  border-style: none;
  border-radius: 50%;
  height: 300px;
  align-self: center; }

.btn:hover, .btn:focus {
  box-shadow: 0px 5px 5px #888888; }

@media (max-width: 768px) {
  .home-wrap {
    display: block; }
  .home-sections .wrapper {
    display: block; }
  .col-1-2,
  .col-1,
  .col-520,
  .col-social {
    max-width: 100%;
    text-align: center; }
  .col-one-side,
  .col-520 {
    width: auto; } }

@media (min-width: 990px) {
  .flex-space-around .col-1-2 {
    padding: 0 50px; } }

body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #333;
  text-decoration: none;
  outline: 0; }

/*# sourceMappingURL=main.css.map */