.home-wrap header {
  width: 135px;
  background: #fff;
  padding: 30px 0; }
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.home-wrap .logo {
  display: block;
  max-width: 120px;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  align-self: center;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.home-wrap .site-nav ul {
  list-style: none;
  margin: 30px 0;
  padding: 0 20px 0 0;
  text-align: right; }
  .home-wrap .site-nav ul li {
    margin-bottom: 10px; }
    .home-wrap .site-nav ul li:last-child {
      margin-bottom: 0; }
    .home-wrap .site-nav ul li a:hover, .home-wrap .site-nav ul li a:focus {
      color: #d32f2f; }

.home-wrap .email-link {
  display: block;
  text-align: right;
  padding-right: 20px; }

.home-wrap .email-link:hover, .home-wrap email-link:focus {
  color: #d32f2f; }

.home-wrap .mobile-nav-toggle {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  cursor: pointer; }
  .home-wrap .mobile-nav-toggle span,
  .home-wrap .mobile-nav-toggle span:before,
  .home-wrap .mobile-nav-toggle span:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #333;
    position: relative;
    transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav-toggle span:before {
    top: 15px; }
  .home-wrap .mobile-nav-toggle span:after {
    bottom: 17px; }
  .home-wrap .mobile-nav-toggle.is-open span {
    background: transparent; }
  .home-wrap .mobile-nav-toggle.is-open span:before,
  .home-wrap .mobile-nav-toggle.is-open span:after {
    transform-origin: center;
    transform: rotate(45deg);
    top: 0; }
  .home-wrap .mobile-nav-toggle.is-open span:after {
    transform: rotate(-45deg); }

.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }

.logo-image:hover .logo, .logo-image:focus .logo, .logo-image:active .logo {
  display: none; }

.logo-image:hover .logo-hover, .logo-image:focus .logo-hover, .logo-image:active .logo-hover {
  display: block; }

.logo-image .logo-hover {
  display: none; }

@media (max-width: 840px) {
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      flex-direction: row;
      align-items: center; }
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none; }
    .home-wrap header .logo {
      height: 50px;
      width: 50px;
      margin-left: 20px; }
    .home-wrap header .mobile-nav-toggle {
      display: flex; }
  .home-wrap .mobile-nav.is-open {
    display: block;
    transform: translateY(0%); } }

.about {
  background: #d32f2f url(../images/textures/noisy_grid.png);
  color: #fff; }
  @media (max-width: 840px) {
    .about .personal-photo {
      height: 150px; } }

.portfolio {
  background-color: #bdbdbd;
  color: #fff; }
  .portfolio .btn-wide {
    background: transparent;
    border: 0 none;
    cursor: pointer;
    width: 100%;
    font-weight: 700; }
  .portfolio ul a {
    color: #fff; }
  .portfolio ul :hover, .portfolio ul :focus {
    color: #fff2cc;
    outline: 0; }
  .portfolio ul li {
    margin: 0 1em; }
  .portfolio .btn-wide {
    color: #fff; }

@media (min-width: 841px) {
  .portfolio .portfolio-subpages {
    border: 1px dashed;
    border-radius: 6px;
    margin-right: 2em; } }

.repos {
  background: #009688 url(../images/textures/tech_background.png);
  color: #fff; }
  .repos li {
    margin-bottom: 1em; }
    .repos li a {
      border: 1px solid;
      margin: 0 5em;
      border-radius: 6px;
      color: #fff; }
    .repos li a:hover, .repos li a:focus {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); }
  .repos .col-one-side ul li {
    border: none; }

.medium {
  background-size: cover;
  height: 100%;
  display: block; }
  .medium img {
    width: 100%;
    height: auto; }

.temp-yt {
  background: url(../images/youtube.png);
  background-size: cover;
  height: 100%;
  display: block; }

.temp-cover {
  background: url(../images/twitter.png);
  background-size: cover;
  height: 100%;
  display: block; }

.contact {
  background: #000 url(../images/textures/noisy_grid.png); }
  .contact h2 {
    color: #ffecb3; }

.contact-link {
  color: rgba(255, 255, 255, 0.5);
  padding: 1.5em; }
  .contact-link i {
    padding-right: 0.5em; }

.contact-link:hover, .contact-link:focus {
  color: #ffecb3; }

@media (max-width: 840px) {
  .contact-link {
    display: block;
    color: rgba(255, 236, 179, 0.8); } }

html {
  min-width: 320px; }

.home-wrap {
  display: flex;
  min-height: 100vh; }

.home-sections {
  display: flex;
  flex: 1;
  background-color: #ffecb3;
  flex-direction: column;
  color: #333; }
  .home-sections p {
    font-size: 1.2em;
    line-height: 1.6; }
  .home-sections .btn-wide {
    display: block;
    padding: 15px 0;
    text-transform: uppercase; }
  .home-sections .btn-cta {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    margin: 0 2em;
    border-radius: 6px; }
  .home-sections .wrapper {
    display: flex;
    flex-direction: row; }
  .home-sections .flex-center {
    justify-content: center; }
  .home-sections .flex-space-around {
    justify-content: space-around; }
  .home-sections .order-first {
    order: -1; }
  .home-sections section {
    padding: 70px 0; }

.col-1-2 {
  max-width: 300px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.col-1 {
  max-width: 620px;
  margin: 0 10px;
  color: darkgrey; }
  .col-1 .contact-header {
    margin-top: 0; }

.col-one-side {
  width: 50%;
  align-self: center; }
  .col-one-side ul {
    list-style: none;
    text-align: center;
    padding-left: 0; }
    .col-one-side ul li {
      border-bottom: 1px dashed #fff; }
      .col-one-side ul li:last-child {
        border-bottom: 0 none; }
  .col-one-side .thumbnail {
    height: 300px;
    width: auto; }

.col-520 {
  width: 520px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .col-520 .thumbnail {
    height: 293px;
    width: auto; }
  .col-520 .thumbnail.twitter {
    height: 500px; }
  .col-520 .thumbnail.medium {
    height: 375px;
    width: 520px;
    align-self: center; }

.col-desktop-narrow {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #333; }

.col-subpages {
  margin: 50px 0 -50px;
  padding: 0px 10px;
  background: #d1d1d1 url(../images/textures/noisy_grid.png);
  display: flex;
  flex-direction: column;
  flex: 1; }
  .col-subpages .col-desktop-narrow {
    padding: 0; }
  .col-subpages .wrapper {
    padding-bottom: 50px; }
    .col-subpages .wrapper:last-child {
      padding-bottom: 0; }
  .col-subpages .btn-portfolio {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    margin: 0 2em;
    border-radius: 6px;
    margin-bottom: 1em; }
  .col-subpages .img-portfolio, .col-subpages .img-portfolio img {
    max-width: 100%;
    height: auto; }

.personal-photo {
  border-style: none;
  border-radius: 50%;
  height: 300px;
  align-self: center; }

.btn:hover, .btn:focus {
  box-shadow: 0px 5px 5px #888888; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 520px;
  align-self: center; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

@media (max-width: 840px) {
  .home-wrap {
    display: block; }
  .home-sections .wrapper {
    display: block; }
  .home-sections section {
    padding: 50px 10px; }
  .col-1-2,
  .col-1,
  .col-520,
  .col-desktop-narrow {
    max-width: 100%;
    text-align: center; }
  .col-one-side,
  .col-520 {
    width: auto; }
  .col-desktop-narrow h2 {
    margin-top: 2em; } }

h3 {
  font-size: 1.3em;
  margin-bottom: 0; }

@media (min-width: 841px) {
  .col-subpages {
    margin: 70px 0 -70px; } }

@media (min-width: 990px) {
  .flex-space-around .col-1-2 {
    padding: 0 50px; } }

@media (max-width: 519px) {
  .home-wrap {
    display: block; }
  .home-sections .wrapper {
    display: block; } }

@media (max-width: 559px) {
  .col-520 {
    max-width: 100%;
    text-align: center;
    width: auto; }
    .col-520 .thumbnail.medium {
      width: auto;
      height: auto; }
    .col-520 .video {
      width: auto;
      align-self: auto; } }

@media (min-width: 560px) {
  .col-520 .video {
    height: 293px;
    padding: 0; }
  .col-subpages .img-portfolio, .col-subpages .img-portfolio img {
    max-width: 520px;
    align-self: center; } }

body {
  background-color: lightgrey;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #333;
  text-decoration: none;
  outline: 0; }

/*# sourceMappingURL=main.css.map */