@import modules/header
@import modules/about
@import modules/portfolio
@import modules/repos
@import modules/contact
@import layouts/home

body
  background-color: lightgrey
  font-family: 'Open Sans', sans-serif

a
  color: #333
  text-decoration: none
  outline: 0
  