/* line 1, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.home-wrap {
  display: flex;
  min-height: 100vh; }

/* line 5, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.home-sections {
  display: flex;
  flex: 1;
  background-color: lightyellow;
  flex-direction: column;
  color: #333; }
  /* line 13, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections p {
    font-size: 1.2em;
    line-height: 1.6; }
  /* line 17, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .btn-wide {
    display: block;
    padding: 15px 0;
    text-transform: uppercase; }
  /* line 22, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .btn-cta {
    display: block;
    padding: 15px 0;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    margin: 0 2em;
    border-radius: 6px; }
  /* line 31, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .yt-video {
    max-width: 100%; }
  /* line 36, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .wrapper {
    display: flex;
    flex-direction: row; }
  /* line 40, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .flex-center {
    justify-content: center; }
  /* line 43, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .flex-space-around {
    justify-content: space-around; }
  /* line 46, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .order-first {
    order: -1; }
  /* line 50, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections section {
    padding: 70px 0; }

/* line 54, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.col-1-2 {
  max-width: 300px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

/* line 61, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.col-1 {
  max-width: 620px;
  margin: 0 10px;
  color: darkgrey; }
  /* line 66, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-1 .contact-header {
    margin-top: 0; }

/* line 70, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.col-one-side {
  width: 50%;
  align-self: center; }
  /* line 74, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-one-side ul {
    list-style: none;
    text-align: center;
    padding-left: 0; }
    /* line 79, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
    .col-one-side ul li {
      border-bottom: 1px dashed #fff; }
      /* line 82, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
      .col-one-side ul li:last-child {
        border-bottom: 0 none; }
  /* line 85, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-one-side .thumbnail {
    height: 300px;
    width: auto; }

/* line 90, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.col-520 {
  width: 520px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  /* line 96, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-520 .thumbnail {
    height: 293px;
    width: auto; }
  /* line 100, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-520 .thumbnail.twitter {
    height: 500px; }
  /* line 103, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-520 .thumbnail.medium {
    height: 375px;
    width: 520px;
    align-self: center; }

/* line 108, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.col-social {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-self: center; }

/* line 114, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.personal-photo {
  border-style: none;
  border-radius: 50%;
  height: 300px;
  align-self: center; }

/* line 120, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
.btn:hover, .btn:focus {
  box-shadow: 0px 5px 5px #888888; }

@media (max-width: 768px) {
  /* line 125, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-wrap {
    display: block; }
  /* line 128, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .wrapper {
    display: block; }
  /* line 134, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-1-2,
  .col-1,
  .col-520,
  .col-social {
    max-width: 100%;
    text-align: center; }
  /* line 139, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-one-side,
  .col-520 {
    width: auto; }
  /* line 143, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-social h2 {
    margin-top: 2em; } }

@media (min-width: 990px) {
  /* line 148, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .flex-space-around .col-1-2 {
    padding: 0 50px; } }

@media (max-width: 519px) {
  /* line 152, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-wrap {
    display: block; }
  /* line 155, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .home-sections .wrapper {
    display: block; }
  /* line 158, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
  .col-520 {
    max-width: 100%;
    text-align: center;
    width: auto; }
    /* line 163, /Users/thedoer/Documents/projects/portfolio-v2/sass/layouts/home.sass */
    .col-520 .thumbnail.medium {
      width: auto;
      height: auto; } }

/*# sourceMappingURL=home.css.map */