.home-wrap
  display: flex
  min-height: 100vh

.home-sections
  display: flex
  flex: 1
  background-color: lightyellow
  flex-direction: column
  height: 2500px
  color: #333

.full-width
  display: flex
  flex: 1
  
@media (max-width: 768px)
  .home-wrap
    display: block