html
  min-width: 320px
  
  h2
    font-size: 2em
  
.home-wrap
  display: flex
  min-height: 100vh

.home-sections
  display: flex
  flex: 1
  background-color: $yellow
  flex-direction: column
  color: #333
  
  
  p
    font-size: 1.2em
    line-height: 1.6
  
  .btn-wide
    display: block
    padding: 15px 20px
    text-transform: uppercase
  
  .btn-cta
    display: block
    padding: 15px 20px
    text-transform: uppercase
    text-align: center
    border: 1px solid
    margin: 0 2em
    border-radius: 6px
    max-width: 400px
    align-self: center
  
  
  // flex styles
  .wrapper
    display: flex
    flex-direction: row
    
  .flex-center
    justify-content: center
  
  .flex-space-around
    justify-content: space-around
  
  .order-first
    order: -1
  
  // air between each menu section   
  section
    padding: 70px 0

// grid columns
.col-1-2
  max-width: 300px
  margin: 0 10px
  display: flex
  justify-content: center
  flex-direction: column

.col-1
  max-width: 620px
  margin: 0 10px
  color: darkgrey
  
  .contact-header
    margin-top: 0


.col-one-side
  width: 50%
  align-self: center
  
  ul
    list-style: none
    text-align: center
    padding-left: 0
    
    li
      border-bottom: 1px dashed $primary-text
      
      &:last-child
        border-bottom: 0 none
  
  .thumbnail
    height: 300px
    width: auto
    
    
.col-520
  width: 520px
  display: flex
  justify-content: center
  flex-direction: column
  
  .thumbnail
    height: 293px
    width: auto
    
  .thumbnail.twitter
    height: 500px

  .thumbnail.medium
    height: 375px
    width: 520px
    align-self: center
    
.col-desktop-narrow
  max-width: 1200px
  display: flex
  flex-direction: column
  align-self: center
  color: $secondary-text

.col-subpages
  margin: 50px 0 -40px;
  background: $grey-lighter url(../images/textures/noisy_grid.png)
  display: flex
  flex-direction: column
  flex: 1
  border-radius: 0 0 6px 6px
  
  .col-desktop-narrow
    padding: 0
  
  .wrapper
    padding-bottom: 50px 
    
    &:last-child
      padding-bottom: 0
  
  .btn-portfolio
    display: inline-block
    padding: 10px
    text-transform: uppercase
    text-align: center
    border: 1px solid
    margin: 0 1em
    border-radius: 6px
    margin-bottom: 1em
    max-width: 400px;
    align-self: center;

  .btn-lonely
    margin: 1em  
  
  .img-portfolio, .img-portfolio img
    max-width: 100%
    height: auto

.personal-photo
  border-style: none
  border-radius: 50%
  height: 300px
  align-self: center

.btn:hover, .btn:focus
  box-shadow: 0px 5px 5px #888888
  
.video
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: auto
  overflow: hidden
  width: 520px
  align-self: center
  
  iframe
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
  

// media queries  
@media (max-width: $mobile-menu-threshold)
  .home-wrap
    display: block

  .home-sections .wrapper
    display: block
  
  .home-sections section
    padding: 50px 10px
    
  .col-1-2,
  .col-1,
  .col-520,
  .col-desktop-narrow
    max-width: 100%
    text-align: center
    
  .col-1-2
    padding: 0 2em
    
  .col-one-side,
  .col-520
    width: auto
  
  .col-desktop-narrow
    h2
      margin-top: 2em
      font-size: 1.5em
    
h3
  font-size: 1.3em
  margin-bottom: 0


@media (min-width: $mobile-menu-threshold + 1px) 
  .col-subpages
    margin: 70px 0 -70px
    border-radius: 0
  
  .yt-video
    height: auto
      
@media (min-width: 990px)
  .flex-space-around
    .col-1-2
      padding: 0 50px

@media (max-width: 519px)
  .home-wrap
    display: block

  .home-sections .wrapper
    display: block
    
    
@media (max-width: 359px)
  .col-520
    .video
      width: auto
      
@media (max-width: 559px)
  .col-520
    max-width: 100%
    text-align: center
    
    .thumbnail.medium
      width: auto
      height: auto
      
    .video
      width: auto
      align-self: auto
      
@media (min-width: 360px)
  .col-520
    .video
      width: 320px
      
@media (min-width: 460px)
  .col-520
    .video
      width: 420px
      
@media (min-width: 560px)
  .col-520
    .video
      height: 293px
      width: 520px
      padding: 0
      
  .col-subpages
    .img-portfolio, .img-portfolio img
      max-width: 520px
      align-self: center