.home-wrap
  display: flex
  min-height: 100vh

.home-sections
  display: flex
  flex: 1
  background-color: lightyellow
  flex-direction: column
  color: #333
  
  
  p
    font-size: 1.2em
    line-height: 1.6
  
  .btn-wide
    display: block
    padding: 20px 0
    text-transform: uppercase
  
  
  // flex styles
  .wrapper
    display: flex
    flex-direction: row
    
  .flex-center
    justify-content: center
  
  .flex-space-around
    justify-content: space-around
  
  .order-first
    order: -1
  
  // air between each menu section   
  section
    padding: 50px 0

// grid columns
.col-1-2
  max-width: 300px
  margin: 0 10px
  background: lightgrey
  display: flex
  justify-content: center;
  flex-direction: column;

.col-1
  max-width: 620px
  margin: 0 10px
  background: orange

.col-one-side
  width: 50%
  background: lightblue
  align-self: center
  
  ul
    list-style: none
    text-align: center
    padding-left: 0
    
    li
      border-bottom: 1px dashed #333
      
      &:last-child
        border-bottom: 0 none

.personal-photo
  border-style: none;
  border-radius: 50%;
  height: 300px;
  align-self: center;


// media queries  
@media (max-width: 768px)
  .home-wrap
    display: block

  .home-sections .wrapper
    display: block
  
  .col-1-2,
  .col-1
    max-width: 100%
    text-align: center
  
  .col-one-side
    width: auto