.contact
  background: #000 url(../images/textures/noisy_grid.png)
  
  h2
    color: $yellow

.contact-link
  color: rgba(255,255,255,0.5)
  padding: 1.5em
  
  i
    padding-right: 0.5em
  
.contact-link:hover, .contact-link:focus
  color: $yellow

// media queries  
@media (max-width: $mobile-menu-threshold)
  .contact-link
    display: block
    color: $yellow-darker