/* line 2, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
.home-wrap header {
  width: 135px;
  background: #fff;
  padding: 30px 0; }
  /* line 7, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap header .header-position {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

/* line 17, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
.home-wrap .logo {
  max-width: 120px;
  height: 120px;
  width: 120px;
  padding: 0;
  margin: 0;
  align-self: center;
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

/* line 34, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
.home-wrap .site-nav ul {
  list-style: none;
  margin: 30px 0;
  padding: 0 20px 0 0;
  text-align: right; }
  /* line 40, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .site-nav ul li {
    margin-bottom: 10px; }
    /* line 43, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
    .home-wrap .site-nav ul li:last-child {
      margin-bottom: 0; }

/* line 46, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
.home-wrap .email-link {
  display: block;
  text-align: right;
  padding-right: 20px; }

/* line 51, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
.home-wrap .mobile-nav-toggle {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  align-items: center;
  cursor: pointer; }
  /* line 61, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav-toggle span,
  .home-wrap .mobile-nav-toggle span:before,
  .home-wrap .mobile-nav-toggle span:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: #333;
    position: relative;
    transition: all 0.3s ease-in-out; }
  /* line 71, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav-toggle span:before {
    top: 15px; }
  /* line 74, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav-toggle span:after {
    bottom: 17px; }
  /* line 77, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav-toggle.is-open span {
    background: transparent; }
  /* line 81, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav-toggle.is-open span:before,
  .home-wrap .mobile-nav-toggle.is-open span:after {
    transform-origin: center;
    transform: rotate(45deg);
    top: 0; }
  /* line 86, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav-toggle.is-open span:after {
    transform: rotate(-45deg); }

/* line 90, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
.home-wrap .mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 30px 0 20px;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }
  /* line 99, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  /* line 104, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav li {
    text-align: center;
    margin-bottom: 10px; }

@media (max-width: 768px) {
  /* line 111, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap header {
    width: auto;
    padding: 20px 0; }
    /* line 115, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
    .home-wrap header .header-position {
      width: auto;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      flex-direction: row;
      align-items: center; }
    /* line 125, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
    .home-wrap header .site-nav,
    .home-wrap header .email-link {
      display: none; }
    /* line 128, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
    .home-wrap header .logo {
      height: 50px;
      width: 50px;
      margin-left: 20px; }
    /* line 133, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
    .home-wrap header .mobile-nav-toggle {
      display: flex; }
  /* line 136, /Users/thedoer/Documents/projects/portfolio-v2/sass/modules/header.sass */
  .home-wrap .mobile-nav.is-open {
    display: block;
    transform: translateY(0%); } }

/*# sourceMappingURL=header.css.map */