.home-wrap 
  header
    width: 135px
    background: #fff
    padding: 30px 0

    .header-position
      position: fixed
      top: 30px
      left:0
      bottom:30px
      width: 135px
      display: flex
      flex-direction: column
      justify-content: space-between

  .logo
    display: block
    max-width: 120px
    height: 120px
    width: 120px
    padding: 0
    margin: 0
    align-self: center

    background:
      image: url(../../images/logo.png)
      repeat: no-repeat
      position: center
      size: contain



  .site-nav
    ul
      list-style: none
      margin: 30px 0
      padding: 0 20px 0 0
      text-align: right

      li
        margin-bottom: 10px

        &:last-child
          margin-bottom: 0
        
        a:hover, a:focus
          color: $primary-color

  .email-link
    display: block
    text-align: right
    padding-right: 20px
  
  .email-link:hover, email-link:focus
    color: $primary-color

  .mobile-nav-toggle
    display: none
    width: 50px
    height: 50px
    margin-right: 20px
    align-items: center
    cursor: pointer

    span,
    span:before,
    span:after
      content: ""
      display: block
      height: 2px
      width: 100%
      background: #333
      position: relative

      transition: all 0.3s ease-in-out

    span:before
      top: 15px

    span:after
      bottom: 17px
 
    &.is-open span
      background: transparent

    &.is-open span:before,
    &.is-open span:after
      transform-origin: center
      transform: rotate(45deg)
      top: 0

    &.is-open span:after
      transform: rotate(-45deg)
  
  // Mobile Navigation
  .mobile-nav
    position: absolute
    width: 100%
    background: #fff
    padding: 0
    transition: max-height 1s
    max-height: 0
    overflow: hidden
    
    ul
      list-style: none
      margin: 0
      padding: 0
    
    li
      text-align: center
      margin-bottom: 10px
  
.logo-image
  &:hover .logo, &:focus .logo, &:active .logo
    display: none
    
  &:hover .logo-hover, &:focus .logo-hover, &:active .logo-hover
    display: block
  
  .logo-hover
    display: none

      
//media-queries
@media (max-width: $mobile-menu-threshold)
  .home-wrap 
    header
      width: auto
      padding: 20px 0

      .header-position
        width: auto
        position: relative
        top: auto
        bottom: auto
        left: auto
        flex-direction: row
        align-items: center

      .site-nav,
      .email-link
        display: none

      .logo
        height: 50px
        width: 50px
        margin-left: 20px

      .mobile-nav-toggle
        display: flex

    .mobile-nav.is-open
      padding: 30px 0 20px
      transition: max-height 1s
      max-height: 400px
      text-indent: 0