.portfolio
  background-color: $grey
  color: $secondary-text
  
  .btn-wide
    background: transparent
    border: 0 none
    cursor: pointer
    width: 100%

  ul
    a
      color: $secondary-text
    
    :hover, :focus
      color: $primary-text
      outline: 0
  
    li
      margin: 0 1em