.portfolio
  background-color: $grey
  color: $primary-text
  
  .btn-wide
    background: transparent
    border: 0 none
    cursor: pointer
    width: 100%
    font-weight: 700
    box-sizing: border-box

  ul
    a
      color: $primary-text
    
    :hover, :focus
      color: $yellow-lighter
      outline: 0
  
    li
      margin: 0 1em
  
  .btn-wide
    color: $primary-text

@media (min-width: $mobile-menu-threshold + 1px)
  .portfolio
    .portfolio-subpages
      border: 1px dashed
      border-radius: 6px
      margin-right: 2em